*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family:'Arial Narrow', Arial, sans-serif;
  background-image: url('https://images.pexels.com/photos/958545/pexels-photo-958545.jpeg?cs=srgb&dl=pexels-chanwalrus-958545.jpg&fm=jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  background-attachment: fixed;
  max-width: 6000px;
  /*background-color: #111;*/
}