footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items:center;
    padding: 1rem 2rem;
    background-color:rgb(132, 113, 67);
    color: white;
    max-width:6000px;
    height: 100px;
  }
  footer p{
    font-size: 10px;
    margin-bottom: 10px;
  }
  .footer-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 50px;
    /*margin-left: 1000px;*/
  }
  
  @media (max-width: 768px) {
    .footer-links{
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        /*margin-left: 100px; */
      }
      footer p{
        font-size: 10px;
      }
}