.tiles{
    display: flex;
    gap: 20px;
    /*margin-top: 5rem;*/
    /*margin-left: 30rem;*/
    align-items: center;
    justify-content:center;
    margin-bottom: 1rem;
  }
  .tile{
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    width: 150px;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  .tile .icon{
    font-size: 1rem;
  }
  .tile h3{
    font-size: 1rem;
    color:black;
    font-weight: bold;
  }
  .tile p{
    font-size: 0.8rem;
    color:black;
  }
  .tile:hover{
    background-color: orange;
  }
  .tile:hover h3,
  .tile:hover p {
    color:white;
  }
  @media (max-width: 768px) {
    .tile{
        width: 120px;
      }
  }